.heart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    transform: rotate(-45deg);
  }

  .heart:before,
  .heart:after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
  }

  .heart:before {
    top: -50px;
    left: 0;
  }

  .heart:after {
    top: 0;
    left: 50px;
  }

  .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }